.userinfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.textname{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 16px;
    cursor: pointer;
}

.userImageAndName{
    display: flex;
    flex: 1;
    padding: 10px;
    /* justify-content:center;
    align-items: center; */
    gap: 10px;
}

.userIcon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(31, 46, 95);
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
}