.chatlist{
    max-width: 100%;
    display: flex;
    gap: 6px;
    padding: 2px;
    justify-content: center;
}

.chatlistPart{
    max-width: 100%;
    background-color: rgb(188, 140, 68);
}

.searchbar{
    flex: 1;
    width: 240px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgb(31, 46, 95);
    border-radius: 10px;
    color: aliceblue;
}

.chatlist2{
    display: flex;
    gap: 6px;
    border-radius: 10px;
    background-color: rgb(31, 46, 95);
    max-width: 100%;
}

.add{
    background-color: rgb(31, 46, 95);
    /* padding: 5px; */
    border-radius: 5px;
    margin-top: 1.5px;
    cursor: pointer;
}
.search{
    padding-left: 5px;
    padding-top: 3px;
    max-width: 100%;
}

.imgavatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
}

.item {
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.hrtag{
    background-color: rgba(195, 36, 36, 0.702);
    opacity: 50%;
    
}

.description1 {
    max-width: 50%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.addUserDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(12, 25, 21); */
}

.descriptionText1{
    /* background-color: rebeccapurple; */
    max-width: 100%;
    overflow-wrap: break-word; 
}