.outerContainer {
    width: 100vw;
    height: 100vh;
    background-image: url('assets/pexels-francesco-ungaro-2554092.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: 700;
}

.innerContainer {
    width: 90vw;
    height: 90vh;
    /* background-color: rgb(144, 214, 222); */
    opacity: 70%;
    border: 1px solid rgba(135, 207, 235, 0.429);
    background-image: linear-gradient(90deg, rgb(76, 78, 78), rgb(82, 164, 161));
    display: flex;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: skyblue;
    border-radius: 50%;
    position: absolute;
    animation: move 8s linear infinite; /* Increased duration */
  }
  
  @keyframes move {
    0% {
      top: 50%;
      left: 50%;
    }
    25% {
      top: 10%;
      left: 50%;
    }
    50% {
      top: 10%;
      left: 10%;
    }
    75% {
      top: 90%;
      left: 10%;
    }
    100% {
      top: 90%;
      left: 90%;
    }
  }
  